body {
    background-color: #4E4088;
    font-family: 'Nunito', sans-serif;
}

header{
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    padding: 5px;

}

body > header > img {
    height: 55px;
    float: left;
}

header > nav {
    float: right;
    margin-top: 19px;
  }

  nav > a {
      padding: 2px;
      padding-left: 25px;
      padding-right: 25px;
      
  }

a {
    float: left;
    line-height: 15px;
    padding: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;

}

nav > a:last-child{
      border-left: solid 1px white;
      
}

/* CONTENT */

body > main {
    display: inline-block;
    margin-top: 80px;
    width: 800px;
    margin-left: calc(50% - 400px);

}

main > img {
    float: left;
    width: 50%;
   

}

main > div {
    display: inline-block;
    width: 42%; 
    margin-left: 37px;
    margin-top: 30px;
}

main > div > h1 {
    color: white;
    width: 100%;
    font-size: 43px;
    margin: 0;
    line-height: 50px;
    margin-top: 25px;

}

h1 > span {
    color: #DD3E62;
}


p {
    font-size: 20px;
    font-weight: 100;
    color: white;

}

div > a:last-of-type {
   font-size: 12px;
   display: inline-block;
   border: dashed 2px #DD3E62;
   border-radius: 20px;
   padding: 10px 44px;


